@import "tailwindcss";

:root {
    background: #020617;
}

body {
    @apply bg-[#020617] text-white selection:bg-blue-500/30;
}

.glass-card {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 rounded-[2.5rem] shadow-2xl;
}